<!DOCTYPE html>

<html>
<body>
    <h1>The customer with the customer ID: <%= customerID %></h1>

    <h2>Customer</h2>
    
    <form action="/">
        <input type="submit" value="Return to Front Page">
    </form>

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Customer ID</th>
            <th>Phone Number</th>
        </tr>
        <% for (const customer of customers) { %>
        <tr>
                <td>
                    <%= customer["firstName"] %>
                </td>
                <td>
                    <%= customer["lastName"] %>
                </td>
                <td>
                    <%= customer["customerID"] %>
                </td>
                <td>
                    <%= customer["phoneNumber"] %>
                </td>
        </tr>
        <% } %>


    </table>

</body>

</html>